@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
#about{
    margin: 0;
    padding: 0;
    
    
}


.about-us {
    text-align: left;
    margin: 5%;
    margin-top: 0;
    padding: 2%;
    color: black;
    background: white;
    border-radius: 10px;
    
}

.hello {
    font-size: 5em;
    font-family: 'Questrial', sans-serif;
}

.about-paragraph {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.charater-traits-yellow {
    color: rgb(233, 132, 49);
    font-weight: bolder;
    font-size: larger;
}
.charater-traits-blue {
    color: rgb(128, 212, 240);
    font-weight: bolder;
    font-size: larger;
}

#software-devs {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#c36 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.about-background {
    background-image: url(./about_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    padding-top: 5%;
    padding-bottom: 3%;
}

#thanks {
    background-image: url(./thanks_background.png);
    
}

@media only screen and (max-width: 800px) {
    
    .hello {
        font-size: 3em;
        font-family: 'Questrial', sans-serif;
    }
    .about-paragraph {
        font-size: 16px;
    }

    #software-devs {
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    #c36 {
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .charater-traits-yellow {
        color: rgb(233, 132, 49);
        font-weight: bolder;
        font-size: large;
    }
    .charater-traits-blue {
        color: #305c70;
        font-weight: bolder;
        font-size: large;
    
    }
  }