.thanks {
    font-size: 5em;
    font-family: 'Questrial', sans-serif;
    text-align: left;
}

.thanks-titles {
    color: #3d5e79;
    font-size: 18px;
    font-weight: bold;
}

.thanks-section {
    margin-top: 2em;
}

.thanks-message {
    font-size: 16px;
    margin-top: 1em;
}